@media (min-width: 992px) and (max-width: 1199px) {
    // HEADER
    .header-list {
        .header-btn-1 {
            margin-left: 2%;
            .btn{
                font-size: 10.5px;
            }
        }
        .header-btn-2{
            font-size: 11px;
            margin-left: 2%;
        }
        .header-btn-3 {
            margin-left: 2%;
        }
    }
    .header-navigation li a{
        font-size: 15px;
    }
    //SECTION-2
    .tabpanel_content{
        font-size: 19.5px;
    }
    // CALCULATOR
    .calculator {
        grid-template-columns: 1fr;
        .question > .question-num {
            margin-right: 5%;
            margin-left: 7%;
        }
        .calculator-r {
            max-width: 100%;
            border-radius: 0 0 10px 10px;
            .question-final-price,
            .qustion-input-group {
                padding-left: 20%;
                padding-right: 20%;
            }
            .qustion-input-group{
                padding-bottom: 37px;
            }
        }
    }
    .slider-range, #mob-slider-range{ 
        .underline label {
            margin-left: -2%;
        }
    }
    .ten-blocks,
    .ten-column {
        max-width: 100% !important;
        width: 100% !important;
    }
    .ten-blocks {
        padding: 5% 5%;
        .ten-blocks__text, .ten-blocks__text p {
            font-size: 17px;
        }
    }
    .section-4 > .container > .row, .section-4 .elementor-element .elementor-widget-container > .container > .row {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        gap: 18px 0px;
        grid-template-areas: ". . .";
    }
    // ФОРМАТ СОТРУДНИЧЕСТВА
    .formats-card{
        width: 100%;
        height: 100%;
    }

    //FOOTER
    .footer-col-4{
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
    }
    .footer-col-5{
        flex: 0 0 25%;
        max-width: 25%;
    }
    //PORTFOLIO
    .section-blog .blog-filter__buttons .btn{
        font-size: 15px;
    }
    .section-blog .blog-grid{
        margin-top: 6%;
        gap: 3%;
    }
    .portfolio-grid .portfolio-item{
        height: auto !important;
    }
    //BLOG
    .section-blog{
        .blog-grid {
            .blog-item__title{
                font-size: 110%;
            }
            .blog-item__info{
                padding-top: 4%;
            }
            .blog-item__comments{
                font-size: 100%;
            }
            .blog-item__date{
                font-size: 100%;
            }
            .blog-item__text{
                padding-top: 4%;
                font-size: 100%;
            }
        }
    } 
    .footer .footer-menu-head, .footer .footer-menu-head a{
        height: 25px;
    }
}
