block footer

  .container
    .row
      .col-3.footer-col-1
        .footer-column-logo
          a(href="/").footer-logo 
            img(src="/assets/img/png/Topzana-logo-end.png" alt="Logo")
          .footer-sublogo 
            |СЕО продвижение сайта в Москве
          .footer-logo-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      .col-2.footer-col-2
        a(href="/").footer-menu-head Наши услуги
        ul.footer-menu
          li 
            a(href="/") Разработка и IT
          li
            a(href="/") Дизайн
          li
            a(href="/") Маркетинг и реклама
          li
            a(href="/seo_promotion.html") SEO и трафик
      .col-2.footer-col-3
        a(href="/aboutus.html").footer-menu-head О нас
        ul.footer-menu
          li
            a(href="/portfolio.html") Портфолио
          li
            a(href="/blog.html") Блог
          li
            a(href="/contacts.html") Контакты

      .col-3.footer-col-4
        a(href="/").footer-menu-head Клиентам
        ul.footer-menu
          li
            a(data-toggle="modal" data-target="#modal-promo-sm") Условия работы
          li
            a(href="/") Пользовательское соглашение
          li
            a(href="/") Карта сайта

      .col-2.footer-col-5
        a(href="/").footer-menu-phone.footer-menu-head.text-right 8 800 551-38-05
        a(href="/").footer-menu-mail.text-right sup@aznona.com
        .footer-social
          a(href="https://vk.com")
            img(src="/assets/img/png/vk_footer_icon.png" alt="vk icon")
          a(href="https://web.telegram.org")
            img(src="/assets/img/png/tg_footer_icon.png" alt="tg icon")
.footer-privacy-container
  .container
    .row
      .col-12.text-center
        .footer-privacy @ 2001-2020
        .footer-social.footer-social__mobile
          a(href="https://vk.com")
            img(src="/assets/img/png/vk_footer_icon.png" alt="vk icon")
          a(href="https://web.telegram.org")
            img(src="/assets/img/png/tg_footer_icon.png" alt="tg icon")