block modals
    .modal.fade.mobile-menu-modal(tabindex='-1' role='dialog' aria-labelledby='modalMobileMenu' aria-hidden='true')#modal
        .container
            .row
                .col-12
                    button(data-dismiss="modal").modal-close-btn.modal-menu-toggler
                        img(src="/assets/img/svg/cross_icon.svg" alt="Close Menu")
        .modal-dialog.modal-dialog-centered
            .modal-content
                ul.modal-navigation#modal-navigation
                    li
                        a(href='#HOW-IT-WORKS' data-dismiss="modal") How it works
                    li
                        a(href='#WHY-DO-YOU-NEED-IT' data-dismiss="modal") Why do you need it
                    li
                        a(href='#CALCULATOR' data-dismiss="modal") Calculator
                    li
                        a(href='#HOW-TO-START' data-dismiss="modal") How to start
                    li
                        a(href='#FAQ' data-dismiss="modal") FAQ
                    li
                        a(href='#SUPPORT' data-dismiss="modal") Support
                    li.donwload-app
                        a(href='#Download-App' data-dismiss="modal")
                            img(src="/assets/img/svg/download-navi.svg" alt="Download App Icon").load-icon
                            | App
                    li.login.d-none
                        a(href='#' data-dismiss="modal")
                            img(src="/assets/img/svg/account-navi.svg" alt="Account Login").login-icon
                            | Log in

    #modal-choose-cities-list.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document').modal-dialog-centered.aznona-modal
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Выберите свой город
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    ul.modal-list
                        li.active
                            a(href="/") Москва и область
                        li
                            a(href="/") Санкт-Петербург
                        li
                            a(href="/") Архангельск
                        li
                            a(href="/") Барнаул
                        li
                            a(href="/") Белгород
                        li
                            a(href="/") Владивосток
                        li
                            a(href="/") Владикавказ
                        li
                            a(href="/") Волгоград
                        li
                            a(href="/") Волжский
                        li
                            a(href="/") Воронеж
                        li
                            a(href="/") Екатеринбург
                        li
                            a(href="/") Жуковский
                        li
                            a(href="/") Иваново
                        li
                            a(href="/") Ижевск
                        li
                            a(href="/") Иркутск
                        li
                            a(href="/") Йошкар-Ола
                        li
                            a(href="/") Казань
                        li
                            a(href="/") Калининград
                        li
                            a(href="/") Калуга
                        li
                            a(href="/") Кемерово
                        li
                            a(href="/") Киров
                        li
                            a(href="/") Кострома
                        li
                            a(href="/") Краснодар
                        li
                            a(href="/") Красноярск
                        li
                            a(href="/") Курск
                        li
                            a(href="/") Липецк
                        li
                            a(href="/") Набережные Челны
                        li
                            a(href="/") Нижнекамск
                        li
                            a(href="/") Нижний Новгород
                        li
                            a(href="/") Новокузнецк
                        li
                            a(href="/") Новороссийск
                        li
                            a(href="/") Новосибирск
                        li
                            a(href="/") Ногинск
                        li
                            a(href="/") Омск
                        li
                            a(href="/") Орёл
                        li
                            a(href="/") Оренбург
                        li
                            a(href="/") Пенза
                        li
                            a(href="/") Пермь
                        li
                            a(href="/") Петрозаводск
                        li
                            a(href="/") Пятигорск
                        li
                            a(href="/") Ростов-на-Дону
                        li
                            a(href="/") Рязань
                        li
                            a(href="/") Самара
                        li
                            a(href="/") Саранск
                        li
                            a(href="/") Саратов
                        li
                            a(href="/") Сочи
                        li
                            a(href="/") Ставрополь
                        li
                            a(href="/") Стерлитамак
                        li
                            a(href="/") Сыктывкар
                        li
                            a(href="/") Тверь
                        li
                            a(href="/") Тольятти
                        li
                            a(href="/") Томск
                        li
                            a(href="/") Тула
                        li
                            a(href="/") Тюмень
                        li
                            a(href="/") Ульяновск
                        li
                            a(href="/") Уфа
                        li
                            a(href="/") Хабаровск
                        li
                            a(href="/") Челябинск
                        li
                            a(href="/") Череповец
                        li
                            a(href="/") Элиста
                        li
                            a(href="/") Ярославль


    #modal-choose-cities-list-sm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel2' aria-hidden='true')
        .modal-dialog(role='document').modal-dialog-centered.aznona-modal-c-sm
            .modal-content
                .modal-header
                    h5#exampleModalLabel2.modal-title Выберите свой город
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    .search-input
                        input(type="text" placeholder="Введите свой город").find-city
                        button#modal-sm-search-city-btn
                            img(src="/assets/img/png/search.png", alt="search")
                    ul.modal-list
                        li
                            a(href="/") Москва
                        li
                            a(href="/") Санкт-Петербург

    #modal-consultation-sm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel3' aria-hidden='true')
        .modal-dialog(role='document').modal-dialog-centered.aznona-modal-sm
            .modal-content
                .modal-header
                    h5#exampleModalLabel3.modal-title.text-center.w-100 Заказать 
                        span.modal-title__m бесплатную консультацию
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    form(action="/").modal-form
                        input(type="text" placeholder="Ваше имя").modal-form__input
                        input(type="text" placeholder="Ваш Email").modal-form__input
                        textarea(name="consultation__message", cols="30", rows="3" placeholder="Сообщение").modal-form__input

                        button.btn(type="submit").modal-form__submit Оставить заявку

    #modal-promo-sm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel4' aria-hidden='true')
        .modal-dialog(role='document').modal-dialog-centered.aznona-modal-sm.aznona-modal-sm__promo
            .modal-content
                .modal-header
                    h5#exampleModalLabel4.modal-title.text-center.w-100 Дарим промокод 
                        span.modal-title__m на 6000 рублей
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    form(action="/").modal-form
                        input(type="text" placeholder="Ваш Email").modal-form__input
                        textarea(name="consultation__message", cols="30", rows="3" placeholder="Сообщение").modal-form__input

                        button.btn(type="submit").modal-form__submit Получить промокод